.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.external-link {
    /* For right to left languages */
    direction: ltr;
    display: inline-block;
  }
  
  a.external-link::after {
    /* \00A0 is a non-breaking space
          to make the mark be on the same line as the link
      */
    content: "\00A0[↪]";
  }
  
a.internal-link::after {
  /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
  content: "\00A0↪";
}

.termynal-comment {
  color: #4a968f;
  font-style: italic;
  display: block;
}

.termy {
  /* For right to left languages */
  direction: ltr;
}

.termy [data-termynal] {
  white-space: pre-wrap;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.card {
  border-radius: 5px;
  padding: 30px;
  box-shadow: 3px 3px 9px 3px #242424;
  border-top: 3px solid #ff6e42;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #ff6e42;
}

.card p {
  font-size: 16px;
  margin: 0;
}

.card a {
  color: white;
}

div.mermaid {
  text-align: center;
}
